body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background:black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

header {
  width:100%;			
}
header h1 {
  font-size:3em;
  text-align: center;
  color: white;
  margin-bottom: 600px;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;

  margin-left:50px;
  margin-right:50px;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 5px;
  color:rgb(238, 238, 238);
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.button2 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 5px;
  color:rgb(238, 238, 238);
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.button3 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 5px;
  color:rgb(238, 238, 238);
  border: 1px solid white;
  background: black;
  cursor: pointer;
}

.button4 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 5px;
  color:rgb(238, 238, 238);
  border: 1px solid white;
  background: black;
  cursor: pointer;
}
